@model UI.Web.Models.ViewModel.CustomerViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will only be visible if you are logged in.</p>

@{Html.RenderAction("AccountCustomersPartial");}

@if (Model != null)
    {
        if (Model.CustomerProjects != null)
        {
            <div>
                <br />
                <br />
                @Html.ActionLink("Create a new project", "Create", "Project", new { id = ViewBag.CustomerId }, "")<br />


                @using (Html.BeginForm("CustomerProjectsPartial", "Customer"))
                {
                    @Html.DropDownList("id", new SelectList(Model.CustomerProjects, "Id", "Name"))
                    <button type="submit">View Snapshots TODO</button>
                }
            </div>
        }

        <br />
        <br />
        @Html.ActionLink("Upload new source files", "Create", "Snapshot", new { id = ViewBag.ProjectId }, "")<br />
    }
    
@if (Model != null)
{
    if (Model.ProjectSnapshots != null)
    {
        <div>
            <br />
            <br />
            @Html.ActionLink("Upload new source files", "Create", "Snapshot", new { id = ViewBag.ProjectId }, "")<br />


            @using (Html.BeginForm("CustomerProjectsPartial", "Customer"))
            {
                @Html.DropDownList("id", new SelectList(Model.ProjectSnapshots, "Id", "DateTimeStamp"))
                <button type="submit">View Snapshot details</button>
            }
        </div>
    }
}
